body {
  margin: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.container {
  display: flex;
  flex-direction: row;
}
.container > input {
  width: 50%;
  min-height: 25rem;
  border: 1px solid black;
}

.container > div {
  width: 50%;
  min-height: 25rem;
  border: 1px solid black;
}

button {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  margin: 1rem;
}
